body {
  max-width: 600px; /* Обмежує ширину */
  margin: 0 auto; /* Центрує контент */
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}
button {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: lightskyblue;
}
a {
  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
}
a:hover {
  background-color: lightskyblue;
}
form {
  border: gray;
  padding: 10px 20px;
  margin-top: auto;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
.make-admin {
  background-color: green;
  color: white;
}
.delete-user {
  background-color: red;
  color: white;
}
